<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button detail="true" href="chat-messages">
      <ion-avatar style="height: 60px; width: 60px;">
        <img src="assets/placeholder.png"/>
      </ion-avatar>
      <ion-col>
        <ion-title color="medium">Patonildo</ion-title>
        <ion-label style="margin-left: 20px;">Quack!</ion-label>
      </ion-col>
    </ion-item>

    <ion-item button detail="true" href="chat-messages">
      <ion-avatar style="height: 60px; width: 60px;">
        <img src="assets/placeholder.png"/>
      </ion-avatar>
      <ion-col>
        <ion-title color="medium">Pato dos Santos</ion-title>
        <ion-label style="margin-left: 20px;">Quack!</ion-label>
      </ion-col>
    </ion-item>

    <ion-item button detail="true" href="chat-messages">
      <ion-avatar style="height: 60px; width: 60px;">
        <img src="assets/placeholder.png"/>
      </ion-avatar>
      <ion-col>
        <ion-title color="medium">Patoeta</ion-title>
        <ion-label style="margin-left: 20px;">Quack!</ion-label>
      </ion-col>
    </ion-item>

    <ion-item button detail="true" href="chat-messages">
      <ion-avatar style="height: 60px; width: 60px;">
        <img src="assets/placeholder.png"/>
      </ion-avatar>
      <ion-col>
        <ion-title color="medium">Patonildo</ion-title>
        <ion-label style="margin-left: 20px;">Quack!</ion-label>
      </ion-col>
    </ion-item>

  </ion-list>
</ion-content>
