<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-back-button defaultHref="/tabs/chat"></ion-back-button>
      <ion-title>#Nome</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <div style="padding: 10px; background-color: #f5f5f5;">
    <ion-row>
      <ion-textarea style="background-color: white; height: 40px; border-radius: 20px;"></ion-textarea>
      <ion-fab-button size="small">
        <ion-icon name="send-outline"></ion-icon>
      </ion-fab-button>
    </ion-row>
  </div>
</ion-footer>
